:root {
  --off-white: #fafafa;
}

.App {
  background-color: #0e162e;
  color: #fafafa;
}

.nav {
  background-color: #2d3b58;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
  justify-content:right
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 1200px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  padding-top: 10px;
  justify-content: end;
  color: #fafafa;
  text-decoration: none;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {}

.section-dark {
  background: #333;
  color: white;
}

.home-section-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 70px;
  height: 580px;

}
.home-content {
  max-height: 700px;
  display: flex;
  justify-content: space-between;
}
.home-content-left{
  position: relative;
  top: 50px;
}
.heaer-image {
  position: relative;
  left: 100px;
  border-radius: 50px;
}
.home-heading{
  font-size: 3rem;
}
.home-para{
  font-size: 1.5rem;
}

.home-sub-content {
  padding-top: 20px;
}

.home-sub-content-heading {
  font-weight: 900;
}

.brand-content {
  background-color: #2d3b58;
  height: 80px;
  text-align: center;
  font-size: larger;
  padding-top: 25px;
}

.about-section-content {
  max-width: 1200px;
  margin: 0 auto;
  height: 550px;
}

.about-heading {
  padding-top: 90px;
  text-align: center;
  font-size: 3rem;
}

.about-sub-content {
  padding-top: 90px;
  font-size: 1.25rem;
}

.service-section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  height: 800px;
}

.service-heading {
  padding-top: 70px;
  text-align: center;
  font-size: 3rem;
}

.service-para {
  padding-top: 70px;
  text-align: center;
  font-size: 1.25rem;
}

.servide-card {
  padding-top: 50px;
}
.cardBody{
  background-color: #2d3b58;
  
}
.cardColor .card-subtitle{
  color: #fafafa;
}
.team-section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  height: 800px;
}

.team-heading {
  padding-top: 70px;
  text-align: center;
  font-size: 3rem;
}

.team-para {
  text-align: center;
  font-size: 1.25rem;
  padding-top: 70px;
}

.team-card {
  background-color: #2d3b58;
  /* margin-left: 40px;
  margin-top: 50px;
  width: 450px; */
}

.contact-section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  height: 1000px;
}

.contact-heading {
  padding-top: 70px;
  text-align: center;
  font-size: 3rem;
}

.contact-para {
  text-align: center;
  font-size: 1.25rem;
  padding-top: 70px;
}

.contact-body{
  height: 600px;
  padding-top: 50px;
}

.contact-body-letf{
  background-color: #2d3b58;
  border-top-left-radius: 100px;
}
.contact-body-sub-letf{
  position: relative;
  top: 120px;
  left: 100px;
}
.contact-body-right{
  background-color: #2d3b58;
  border-bottom-right-radius: 100px;
}
.contact-body-sub-right{
  position: relative;
  top: 60px;
  left: 50px;
}
.flex{
  display: flex;
}
.footer-content {
  background-color: #2d3b58;
  height: 300px;
}
.footer-sub{
  padding-left: 50px;
}
.button-content{
  width: 180px;
  background-color: #2d3b58 !important;
  position: relative;
  top: 20px;

}
.contact-input{
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.contact-button{
  width: 146px;
  background-color: #2d3b58 !important;
  position: relative;
  top: 20px;
  align-items: center;
  left: 75px;
  border-radius: 5px;
  height: 50px
}